<div class="card">

    <div class="card-content">
      <h2>Le compostage : réduire nos déchets</h2>
      </div>
      <div class="card-image">
        <img src="assets/img2.avif" alt="Image">
      </div>
    <div class="card-content">
      <p>Le compostage consiste à transformer les déchets organiques en un engrais naturel et écologique. En compostant nos déchets, nous réduisons la quantité de déchets envoyés en décharge, ce qui permet de préserver l'environnement en réduisant les émissions de gaz à effet de serre et en évitant la pollution des sols et des eaux. En plus de cela, le compostage permet de réduire le coût des déchets pour les collectivités locales, ce qui contribue à une gestion plus efficace des déchets.</p>
    </div>
  </div>
  