<div class="card">
    <div class="card-image">
      <img src="assets/img1.webp" alt="Image">
    </div>
    <div class="card-content">
      <h2>Manger local : les avantages</h2>
      <p>Le fait d'acheter des aliments importés entraîne une augmentation des émissions de gaz à effet de serre en raison du transport sur de longues distances, ce qui n'est pas le cas pour les aliments locaux qui sont produits à proximité de notre lieu de résidence. Les aliments locaux sont plus frais et nutritifs, car ils ne nécessitent pas de stockage prolongé ni de transport sur de longues distances. L'achat d'aliments locaux et de saison soutient également les agriculteurs et les producteurs locaux, ce qui renforce l'économie locale. Manger local peut également nous permettre de découvrir de nouveaux aliments et de nouvelles saveurs. En fin de compte, manger local est bénéfique pour notre santé, l'économie locale et l'environnement, et constitue une petite action que nous pouvons tous prendre au quotidien pour contribuer à un avenir plus durable.</p> </div>
  </div>
  