<div class="card">
    <div class="card-image">
      <img src="assets/img1.jpg" alt="Image">
    </div>
    <div class="card-content">
      <h2>Manger local : les avantages</h2>
      <p>Lorsque nous achetons des aliments importés, nous contribuons à l'augmentation des émissions de gaz à effet de serre en raison du transport de ces aliments sur de longues distances. Les aliments locaux, en revanche, sont produits à proximité de notre lieu de résidence et nécessitent moins d'énergie pour le transport, réduisant ainsi l'empreinte carbone de notre alimentation.
  
      En outre, les aliments locaux sont souvent plus frais et plus nutritifs que les aliments importés, car ils n'ont pas besoin d'être transportés sur de longues distances ni stockés pendant de longues périodes. En achetant des aliments locaux et de saison, nous soutenons également les agriculteurs et les producteurs locaux, ce qui contribue à renforcer notre économie locale.
  
      Enfin, manger local peut également nous permettre de découvrir de nouveaux aliments et de nouvelles saveurs, car nous sommes souvent plus exposés à une plus grande variété d'aliments lorsqu'ils sont produits localement.
  
      En somme, manger local est bénéfique à la fois pour notre santé, notre économie locale et pour l'environnement. C'est une petite action que nous pouvons tous prendre au quotidien pour contribuer à un avenir plus durable.</p>
    </div>
  </div>
  