<div class="card">
    
<div id="map"></div>

<!-- Chargement des fichiers CSS de Leaflet -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.7.1/dist/leaflet.css" integrity="sha384-46nJvnWNee81TLD1atnAyN0FZrZgRQdKl+4TcPxjL9G9m8j1uVW0G+K1Dg1tq6qc" crossorigin="anonymous">

<!-- Chargement des fichiers JavaScript de Leaflet -->
<script src="https://cdn.jsdelivr.net/npm/leaflet@1.7.1/dist/leaflet.js" integrity="sha384-W5VtU9S4N1hF1b8Y+TG8uvC+Qd2w6hLZYiOwcZT0uc8d4vzQUxQ4JblPUzq25i/+" crossorigin="anonymous"></script>
</div>