.header-title {
  display: flex;
  align-items: center;
}

.title-link {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
}

.header-tabs {
  margin-left: auto;
}

.custom-list {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: auto;

  li {
    margin-left: 16px;

    button {
      background-color: transparent;
      border: 2px solid #fff;
      border-radius: 30px;
      color: #fff;
      font-size: 16px;
      font-weight: bold;
      padding: 10px 20px;
      text-transform: uppercase;

      &:hover {
        background-color: #fff;
        color: #000;
      }
    }
  }

  .spacer {
    flex: 1 1 auto;
  }
}
