<footer class="mat-elevation-z2">
    <mat-toolbar>
      <span>Footer</span>
    </mat-toolbar>
    <div class="box-container">
      <mat-card class="box">
        <mat-card-content>
          <h2>Demontis Matisse</h2>
          <p>En Bachelor 3 ynov Toulouse</p>
        </mat-card-content>
      </mat-card>
      <mat-card class="box">
        <mat-card-content>
          <h2>Modules utiliser</h2>
          <p>Angular Material</p>
        </mat-card-content>
      </mat-card>
      <mat-card class="box">
        <mat-card-content>
          <h2>Demontis Matisse</h2>
          <p>En Bachelor 3 ynov Toulouse</p>
        </mat-card-content>
      </mat-card>
    </div>
  </footer>
  