@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
body {
    background: linear-gradient(to bottom, #8B00FF, #008000);
  }
  
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
